* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

li {
  transition: all 0.3s ease;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 20px;
}

li:hover {
  cursor: pointer;
  color: brown;
  background-color: #f3f4f6;
  transform: translateY(-2px);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.card:hover {
  transform: translateY(-5px);
}
